html, body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 13px;
}
table, th, td {
	text-align: left;
	padding: 0.3em;
	white-space: nowrap;
}
#header {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	background-color: #007BDA;
	color: white;
}
table#library {
	margin-top: 3em;
	border-collapse: collapse;
}
#library th {
	background-color: #ccc;
}
#library tr {
	background-color: #eee;
}
#library tr:nth-child(even) {
	background-color: #e6e6e6;
}

.icon-play {
	background-image: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_play_arrow_48px-16.png");
	width: 16px;
	height: 16px;
	display: inline-block;
}


#audio {
	margin-bottom: -10px;
	display: inline;
}
#current {
	line-height: 40px;
}
#current-track {
	font-weight: bold;
}
#current-artist {
}
#current-album {
	font-style: italic;
}
#current-album-pic {
	width: 40px;
	height: 40px;
	background-color: black;
	display: inline-block;
	border: none;
	float: left;
	margin-right: 1em;
}
